*{
    padding: 0px;
    margin: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
html{
    scroll-behavior: smooth;
    scroll-padding-top: 60px;
}
body{
    background-color: #020D0D;
}
.font-family{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.white{
    color: whitesmoke;
}
/*Header*/
header{
    width: 100vw;
    height: 100vh;
    display: grid;
    background-size: cover;
    background-image:  url(header-background.avif);
    background-color: red;
    grid-template-rows: 60px auto;
    
}


#nav{
    display: flex;
    justify-self: center;
    width: 100vw;
    height: 60px;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    background-color: black;
    padding: 0 10px;
}
/*Logo*/
#logo h1{
margin: none;
color: white;
padding: 0 100px;
}
/* 3 line*/
.hamburger{
    display: none;
}
/* nav bar */
.nav-menu{
    padding-right: 30px;

}
.nav-menu ul{
    display: flex;
    margin: 10px;
    
}

.nav-menu ul li{
    padding: 10px 10px;
    margin: 0px 5px;
    list-style: none;
}
.nav-menu ul li a{
    color: rgb(255, 255, 255);
font-weight: 150;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    text-decoration: none;

}
.nav-menu ul li a::after{
    content: ' ';
    width: 0;
    height: 1px;
    background-color: whitesmoke;
    margin: auto;
    display: block;
}

.nav-menu ul li a:hover::after{
    width: 100%;
    transition: width 0.5s linear;
}

.nav-menu ul li a:hover{
    color: rgb(204, 204, 204);
}

/* Main info about me*/
#intro{
    display: grid;
    align-self: center;
    justify-self: start;
    grid-row: 2/3;
    grid-template-columns: 100%;
    /*grid-template-rows: 100%;*/
    justify-content: start;
    align-items: center;
    margin-left: 10vw;
    margin-bottom: 60px;
    background-color: rgba(255, 0, 0, 0);

}
#intro h2{
    background-color: #57575700;
    padding-bottom: 20px;
}
#name{
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    background-color: #56565600;
}

#name p{
    font-size: 4em;
    padding-right: 5px;
}
#md{
    font-weight: 500;
}
#alkama{
    font-weight: 100;
    font-size: 5000px;
}
#about{
    text-wrap: wrap;
    padding-top: 10px;
    color: whitesmoke;
    width: 300px;
}
/*Button for cv download and know more*/
#intro .btn{
display: flex;
flex-wrap: wrap;
}
#intro .btn button{
    margin: 20px 10px 0px 0px ;
    width: 150px;
    height: 40px;
    font-size: 20px;
    color: whitesmoke;
    background-color: rgba(255, 255, 255, 0);
    border: 2px solid white;
    border-radius: 50px;
}
/* Social Media Icons */
#intro .social-media ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0px;
    height: 30px;
    width: 300px;
    background-color: rgba(255, 255, 255, 0);
    list-style: none;
}
#intro .social-media ul li .fab{
    font-size: 30px;
    line-height: 60px;
    transition: 0.3s;
    color: rgb(0, 0, 0);

}
#intro .social-media ul li a{
    position: relative;
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: whitesmoke;
    text-align: center;
    margin: 10px;
    box-shadow: 0px 0px 8px white;
    transition: 0.6s;
}
#intro .social-media ul li a:hover{
    transform: translate(0,-10%);
}
#intro .social-media ul li:nth-child(1) .fab:hover{
    color: #0C65C2;
}
#intro .social-media ul li:nth-child(2) .fab:hover{
    color: #1E97E8;
}
#intro .social-media ul li:nth-child(3) .fab:hover{
    color: #1F2429;
}
#intro .social-media ul li:nth-child(4) .fab:hover{
    color: #FA0202;
}
/* main conent */
main section{
    width: 100vw;
    height: ;
    background-color: #020D0D;
}
main .heading{
    color: white;
    width: 100vw;
    padding: 20px 0px 10px 0px;
    font-size: 50px;
    font-weight: 500;
    justify-content: center;
    text-align: center;
    
}
main .discription {
    color: rgb(214, 214, 214);
    width: 100vw;
    font-size: 20px;
    justify-content: center;
    text-align: center;
}
main .card:hover{
    box-shadow: 5px 5px 10px white;
    transition: 1s;
}

/* skill section */
.main-skill{
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.main-skill .card{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-rows: auto 100px;
    height: 300px;
    width: 300px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10px;
    padding: 20px;
    margin: 40px; 

}
.main-skill .card .text{
    color: whitesmoke;
    text-align: center;
}

.main-skill .card .logo {
    display: grid;
    justify-content: center;
    align-items: center;

    height: 200px;
    width: 100%;
}

.main-skill .card .logo .img{
    height: 120px;
    background-color: whitesmoke;
    border: 3px solid black;
    border-radius: 50%;
}

.main-skill .card .logo .img img{
    padding: 10px;
    height: 100px;


}

.main-skill .card .logo span{
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}

/* Project section */


.main-project{
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;

}

.main-project .card{
    height: 500px;
    width: 300px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10px;
    padding: 20px;
    margin: 40px;    
}
.main-project .card:nth-child(1){
    background-image: url(project-1.png);
    background-size: cover;
}
.main-project .card:nth-child(2){
    background-image: url(project-2.png);
    background-size: cover;
}
.main-project .card:nth-child(3){
    background-image: url(project-3.jpeg);
    background-size: cover;
}

/* Certificates section */

.main-certificates{
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.main-certificates .card{
    display: grid;
    justify-content: center;
    align-items: center;
    border: 10px solid rgb(255, 255, 255);
    border-radius: 1px;
    padding: 20px;
    margin: 40px; 

}
.main-certificates .card img{
    height: 300px;
}

/* Contact section */
#contact{
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
background-color: ;
}
.contact-box{
    display: flex;
    height: auto;
    width: auto;
    margin: 50px;
    background-color: aqua;
    border-radius: 30px;
}
/*main contact*/
#contact .left{
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 480px;
    width: 360px;
    border: 2px solid black;
    border-radius: 20px 0px 0px 20px;
    box-shadow: 0px 0px 10px white;
}
.contact-text .heading{
width: 100%;
margin: 20px;
color: black;
font-weight: 700;

}
.contact-text .discription{
    width: 100%;
    color: rgb(43, 43, 43);
    display: none;
}

.input-box{
    height: 40px;
    width: 100%;
    margin: 30px 0px;
    position: relative;
}
.input{
    width: 90%;
    height: 100%;
    background: transparent;
    border: 2px solid black;
    border-radius: 20px;
    outline: none;
    padding-left: 10px;
    color: black;
    font-size: 16px;
}
.input-box label{
    position: absolute;
    top: 50%;
    left: 10px;
    color: rgb(34, 34, 34);
    transform: translateY(-50%);
    font-size: 15px;
    font-weight: 500;

}
.input-box input:focus ~ label,
.input-box input:valid ~ label{
    top: -1px;
    left: 10px;
    background-color: rgb(255, 255, 255);
    font-weight: 500;
    font-size: 12px;
    padding: 5px;

}
#contact .btn{
    position: relative;
    align-self: center;
    top: 10px;
    background-color: black;
    color: white;
    outline: none;
    border: none;
    border-radius: 4px;
    font-size: 20px;
    height: 40px;
    width: 70%;
    font-weight: 500;
}
/*right side contact */
#contact .right{   
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
    background-size: cover;
    background-repeat: no-repeat;
    height: 480px;
    width: 360px;
    border: 2px solid black;
    border-radius: 0px 20px 20px 0px;
    box-shadow: 0px 0px 10px white;
    overflow: hidden;
}
#contact .right img{
height: 60%;

}
.footer {
    height: 110px;
    overflow: hidden;
background-color: #56565600;
display: grid;
justify-content: center;
align-items: center;
}
.footer .top{
    position: relative;
    height: 80px;
    width: 80px;
    margin: 10px 0px;
    background-color: whitesmoke;
    text-align: center;
    transform: translate(50%) rotate(45deg) ;
}
.top a .ri-arrow-up-circle-fill {
    font-size: 30px;
    font-weight: 500;
    text-decoration: none;
    color: black;
    position: absolute;
    transform: rotate(315deg) translateX(-90%) translateY(-75%);

}


.footer p{
    width: 100%;
    color: white;
    margin: 20px 0px;
    text-align: center;

}
.top p{
    color: black;
    transform: rotate(315deg) translateX(-8%) translateY(-15%);
}
@media only screen and (max-width: 800px) {
    .nav-menu{
        display: ;
        margin: 10px;
        
    }
    #logo h1{
        padding: 0 40px;
        }
    .hamburger{
        display: block;
        cursor: pointer;
    }
    .hamburger .line{
        width: 30px;
        height: 3px;
        background: white;
        margin: 6px 40px 6px 6px;
    }
    .nav-menu{
        height: 0;
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        width: 100vw;
        background-color: #000000;
        transition: 0.2s;
        margin: 0px;
        overflow: hidden;
        
    }
    
    .nav-menu.active{
        height:450px;
    }
    .nav-menu ul{
        display: block;
        margin: 80px auto 0 auto;
        width: fit-content;
        text-align: center;
        transition: 0.5s;
        opacity: 0;
    }
    .nav-menu.active ul{
        opacity: 1;
    }
    .nav-menu ul li a{
        margin-bottom: 12px;
    }
    #contact .right{
        display: none;
    }
    #contact .left{
        border-radius: 20px;
    }

}
@media only screen and (max-width: 500px) {
    .nav-menu{
        display: ;        
    }
    #logo h1{
        padding: 0 30px;
        }
    .hamburger{
        display: block;
        cursor: pointer;
    }
    .hamburger .line{
        margin: 6px 30px 6px 6px;
    }
    .main-certificates .card img{
        height: 250px;
    }

}
@media only screen and (max-width: 400px) {
    .main-certificates .card img{
        height: 200px;
    }
    #intro{
        display: grid;
        align-self: center;
        justify-self: start;
        grid-row: 2/3;
        grid-template-columns: 100%;
        /*grid-template-rows: 100%;*/
        justify-content: start;
        align-items: center;
        margin-left: 5vw;
        margin-bottom: 60px;
        background-color: rgba(255, 0, 0, 0);
    
    }
}
